body {
  margin: 0;
  background-color: #e24949;
  font-family: "Press Start 2P", cursive;
  font-size: 16px;
  color: #222222;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #801f1f;
  color: white;
  padding: 10px;
}

h1 {
  text-shadow:
    1px  1px 2px black,
    1px -1px 2px black,
   -1px  1px 2px black,
   -1px -1px 2px black;
}

/*Fazendo o elemento ser apresentado inline e centralizado o texto*/
.gridfoda {
  margin: 10px;
  display: grid;
  grid-template-columns:repeat(auto-fit, minmax(160px, 1fr));
  grid-gap: 10px;
}


.pokemon {
  background-color: rgb(106, 180, 245);
  position: relative;
  width: 100%;
  height: 160px;
  max-width: 50vw;
  border-style: solid;
}

.pokemon span {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Fazendo o elemento ser apresentado em bloco*/
.pokemon img {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  object-fit: contain;
}

.pokemon img:hover {
  cursor: pointer;
}


.search-bar input[type="text"] {
  padding: 5px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  width: 20vw;
}

nav {
  color: white;
}

nav a {
  padding-right: 20px;
  color: white;
  font-size: larger;
  text-decoration: none;
}

nav a:hover {
  background-color: #ff7070;
  padding: 7px;
  cursor: pointer;
}

.foda_info {
  display: flex;
  flex-wrap: wrap;
  padding: 1vw;
}
/* 
#tipo_pokemon {
  padding-left: 10px;
} */

.foda_info .pokemon {
  width: 33vw;
  height: 33vw;
}

#descricao {
  padding-left: 1vw;
}

.padrao_tipo {
  padding: 5px;
  padding-top: 0px;
  color:white;
  border-radius: 15px;
}

.normal { background-color: #A8A878; }
.fire { background-color: #F08030; }
.water { background-color: #6890F0; }
.electric { background-color: #F8D030; }
.grass { background-color: #78C850; }
.ice { background-color: #98D8D8; }
.fighting { background-color: #C03028; }
.poison { background-color: #A040A0; }
.ground { background-color: #E0C068; }
.flying { background-color: #A890F0; }
.psychic { background-color: #F85888; }
.bug { background-color: #A8B820; }
.rock { background-color: #B8A038; }
.ghost { background-color: #705898; }
.dragon { background-color: #7038F8; }
.dark { background-color: #705848; }
.steel { background-color: #B8B8D0; }
.fairy { background-color: #EE99AC; }

#descricao h2{
  text-align: center;
}

input {
  margin: 0.4rem;
}

/* input[type='checkbox'] {
  position: absolute;
  opacity: 0;
} */

legend {
  padding-bottom: 5px;
  color: whitesmoke;
  font-size: x-large;
}

fieldset {
  background-color: #96383810;
}


@media (max-width: 600px) {
  .foda_info .pokemon {
    flex: 1 1 100%;
    max-width: 100vw;
  }
  #descricao {
    flex: 1 1 100%;
  }
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: larger;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.container:hover input ~ .checkmark {
  background-color: #ccc;
}

.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

label[for='imagem']{
  visibility: hidden;
}

#imagem {
  visibility: hidden;
}

canvas {
  border: 1px solid black;
}
/* Apply some basic styling to the form */
form {
  width: 300px;
  margin: 0 auto;
}

/* Style the label for the combo box */

/* Style the combo box container */
.select-container {
  position: relative;
  width: 100%;
}

/* Style the combo box */
select {
  width: 100%;
  height: 150px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
  font-size: 14px;
  color: #333;
  background-color: #f7f7f7;
}

/* Style the combo box dropdown icon */
.select-container::after {
  content: '\25BC';
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 14px;
  color: #555;
}

/* Style the submit button */
button[id="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

