<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pokedex braba</title>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <link rel="stylesheet" href="../static/app.css">
    </head>
<body>
    <header>
        <h1 id="headerfoda">Pokedex braba do homi</h1>
        <nav>
            <a href="{{ url_for('index') }}">Página principal</a>
        </nav>
    </header>
    <div class="foda_info">
        <div class="pokemon">
            <span id="nome_pokemon"></span>
            <img id="pokemon_normal">
            <img id="pokemon_shiny" style="display: none;">
            <img id="gif_normal" style="display: none;">
            <img id="gif_shiny" style="display: none;">
        </div>
        <div id="descricao">
            <fieldset id="imagens_checkbox">
                <legend>Opções de visualização</legend>
                <label class="container">
                    <input type="checkbox" id="Shiny" onclick="CheckboxPoke()">
                    <span class="checkmark"></span>
                    Versão Shiny
                </label>
                <label class="container">
                    <input type="checkbox" id="Gif" onclick="CheckboxPoke()">
                    <span class="checkmark"></span>
                    Versão Gif
                </label>
            </fieldset>
        </div>
    </div>
    <script src="{{ url_for('static', filename='foda.js') }}"></script>
</body>
</html>