<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pokedex brabo</title>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <link rel="stylesheet" href="../static/app.css">
    </head>
    <body>
        <header>
            <h1 id="headerfoda">Pokedex braba do homi</h1>
            <nav>
                <a href="{{ url_for('criar_pokemon') }}">Criar Pokemon</a>
                <a onclick="RecarregarPagina(0,151)">Kanto</a>
                <a onclick="RecarregarPagina(151,251)">Johto</a>
                <a onclick="RecarregarPagina(251,386)">Hoenn</a>
                <a onclick="RecarregarPagina(386,494)">Sinnoh</a>
                <a onclick="RecarregarPagina(494,649)">Unova</a>
                <a onclick="RecarregarPagina(649,721)">Kalos</a>
                <a onclick="RecarregarPagina(721,809)">Alola</a>
                <a onclick="RecarregarPagina()">Aberrações</a>
                <!-- <a onclick="RecarregarPagina(10000,10263)">Testas</a> -->
            </nav>
            <div class="search-bar">
                <form>
                    <input id="mtofoda" placeholder="Pesquisar..." type="text" name="foda" onkeyup="Foda()">
                </form>
            </div>
        </header>
        <div class="gridfoda" id="gridmtofoda"></div>
        <script src="{{ url_for('static', filename='app.js') }}"></script>
    </body>
</html>